.black-jack,
.black-jack * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.black-jack {
  min-height: 90vh;

  background-image: url('/images/black-jack-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}


.black-jack #dealer-cards img,
.black-jack #your-cards img {
  height: 175px;
  width: 125px;
  margin: 2px;
}


.black-jack #hit-black-jack,
.black-jack #stay-black-jack,
.black-jack #restart-black-jack {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
}