* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}

html {
  font-family: "Chonburi", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(31, 65, 137);
  background-color: rgb(238, 242, 254);
}


/* chỉnh thanh scroll */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(113, 208, 230);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 145, 169);
}


/* trang trí cho header ................................................*/
#header-box {
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  background-color: rgba(254, 254, 254, 1);
  justify-content: space-between;
  background-image: url(/images/home.png);
  background-position: center -90px;
}

.home-image {
  width: 200px;
  height: auto;
}

.home-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

/* trang trí cho menu........*/
menu {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 242, 254);
}

.navbar {
  display: flex;
  overflow-x: auto;
}

.navbar ul {
  flex: 0 0 auto;
  display: flex;
  gap: 30px;
  padding: 5px 0;
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
}

.navbar ul li {
  flex: 0 0 auto;
  font-size: 1.5rem;
}

.navbar ul li:hover {
  background-color: rgb(77, 119, 209);
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.navbar ul li:hover * {
  color: #ffffff;
}

.navbar ul li a {
  color: rgb(31, 65, 137);
  display: block;
  text-decoration: none;
  padding: 10px;
}

/* trang trí cho  main.........................*/
main {
  background-color: rgb(238, 242, 254);
  justify-content: center;
  padding: 0 20px;
}

.content-section {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-width: 320px;
  padding: 20px;
}

/* trang trí cho  filter-bar....... */
.filter-bar {
  display: flex;
  margin: 10px;
  padding: 5px;
  justify-content: space-between;
  overflow-x: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  gap: 20px;
  align-items: center;
}

.filter-bar>div>img {
  height: 20px;
  width: auto;
  position: relative;
  top: 1px;
}

.filter-bar>* {
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 0 20px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.filter-bar>*:focus {
  outline: rgb(113, 208, 230) solid 2px;
}

.filter-bar input {
  font-size: 1.5rem;
  border: none;
}

.filter-bar input:focus {
  outline: none;
}

.filter-bar>div:focus-within {
  border: 1px solid rgb(113, 208, 230);
  border-color: rgb(113, 208, 230);
}

.filter-bar input::placeholder {
  opacity: 1;
  color: #000000;
}

/* trang trí cho  card container.....................*/
#game-list {
  /* display: flex;
  flex-wrap: wrap; //ko đẹp*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  padding: 10px;
  place-items: center;
}

/* trang trí cho  card..................*/
.game-card {
  width: 100%;
  overflow: hidden;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.25);
  padding: 0 0 10px 0;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
}

.game-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

html:has(.game-card:active) {
  overflow: hidden;
}


.game-card * {
  text-align: center;
}


.game-card img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* trang trí cho  footer..................  */
/* trang trí cho  game overlay..................  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  z-index: 9999;
}

/* Lỗi kích thước */
.overlay-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

#game-container {
  flex: 0 1 auto;
  overflow-y: auto;
}

.close-container {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: right;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}